{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reserva_mesa.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock %}

{% block content %}
    <main class="flex-grow-1 fade-in">
        <div class="container content-section">
            
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center mb-4 text-gold"><i class="bi bi-calendar-check"></i> Faça sua reserva</h1>

                <div class="form-reserva-container">
                    <div id="mensagem" class="alert d-none"></div>
    
                    <form id="form-reserva">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Seu nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" placeholder="Seu CPF" required>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="mesa" class="form-label">Número da Mesa:</label>
                                <select id="mesa" class="form-select">
                                    <option disabled selected>Selecione</option>
                                    {% for i in range(1, 11) %}
                                    <option value="{{ i }}">Mesa {{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="data" class="form-label">Data:</label>
                                <input type="date" class="form-control" id="data" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="horario_entrada" class="form-label">Horário de Entrada (11h às 23h):</label>
                                <input type="time" class="form-control" id="horario_entrada">
                            </div>
                
                            <div class="col-md-6 mb-3">
                                <label for="horario_saida" class="form-label">Horário de Saída (11h às 23h):</label>
                                <input type="time" class="form-control" id="horario_saida">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-gold w-100 btn-lg mt-3">Reservar Mesa</button>
                    </form>
                </div>

                <div class="lista-reservas-container">
                    <h3 class="text-center text-gold">Reservas realizadas:</h3>
                    <ul id="lista-reservas" class="list-group list-group-flush"></ul>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/reserva_mesa.js') }}"></script>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}